/* Md | Madeus Framework */

*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
img{max-width: 100%; height: auto;}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: #CCCCCC; border-radius: 15px; transition: all .2s ease-in-out;}
::-webkit-scrollbar-thumb:hover {background: #9f9f9f;}

/* Grid */

.md .container {width: 1170px; clear: both; display: block; margin: auto;}
.md .container--fluid {width: 100%; clear: both; display: block; margin: auto;}
.md .container--mini {width: 420px; clear: both; display: block; margin: auto;}

.md .col--here{display: block; position: relative; clear: both; margin: 0 -15px;}
.md .col--here:before, .md .col--here:after{display: block; clear: both; content: "";}
.md .col--here .col--s1{display: block; float: left; padding: 0 15px; width: 8.3333333333%;}
.md .col--here .col--s2{display: block; float: left; padding: 0 15px; width: 16.6666666667%;}
.md .col--here .col--s3{display: block; float: left; padding: 0 15px; width: 25%;}
.md .col--here .col--s4{display: block; float: left; padding: 0 15px; width: 33.3333333333%;}
.md .col--here .col--s5{display: block; float: left; padding: 0 15px; width: 41.6666666667%;}
.md .col--here .col--s6{display: block; float: left; padding: 0 15px; width: 50%;}
.md .col--here .col--s7{display: block; float: left; padding: 0 15px; width: 58.3333333333%;}
.md .col--here .col--s8{display: block; float: left; padding: 0 15px; width: 66.6666666667%;}
.md .col--here .col--s9{display: block; float: left; padding: 0 15px; width: 75%;}
.md .col--here .col--s10{display: block; float: left; padding: 0 15px; width: 83.3333333333%;}
.md .col--here .col--s11{display: block; float: left; padding: 0 15px; width: 91.6666666667%;}
.md .col--here .col--s12{display: block; float: left; padding: 0 15px; width: 100%;}

.md .col--here .offset--1{margin-left: 8.3333333333%;}
.md .col--here .offset--2{margin-left: 16.6666666667%;}
.md .col--here .offset--3{margin-left: 25%;}
.md .col--here .offset--4{margin-left: 33.3333333333%;}
.md .col--here .offset--5{margin-left: 41.6666666667%;}
.md .col--here .offset--6{margin-left: 50%;}
.md .col--here .offset--7{margin-left: 58.3333333333%;}
.md .col--here .offset--8{margin-left: 66.6666666667%;}
.md .col--here .offset--9{margin-left: 75%;}
.md .col--here .offset--10{margin-left: 83.3333333333%;}
.md .col--here .offset--11{margin-left: 91.6666666667%;}
.md .col--here .offset--12{margin-left: 100%;}

/* Espaçamentos */

.md .mt5{margin-top: 5px;}
.md .mt10{margin-top: 10px;}
.md .mt15{margin-top: 15px;}
.md .mt20{margin-top: 20px;}
.md .mt25{margin-top: 25px;}
.md .mt30{margin-top: 30px;}
.md .mt35{margin-top: 35px;}
.md .mt40{margin-top: 40px;}
.md .mt45{margin-top: 45px;}
.md .mt50{margin-top: 50px;}
.md .mt55{margin-top: 55px;}
.md .mt60{margin-top: 60px;}
.md .mt65{margin-top: 65px;}
.md .mt70{margin-top: 70px;}
.md .mt75{margin-top: 75px;}
.md .mt80{margin-top: 80px;}
.md .mt85{margin-top: 85px;}
.md .mt90{margin-top: 90px;}
.md .mt95{margin-top: 95px;}
.md .mt100{margin-top: 100px;}
.md .mt105{margin-top: 105px;}
.md .mt110{margin-top: 110px;}
.md .mt115{margin-top: 115px;}
.md .mt120{margin-top: 120px;}
.md .mt125{margin-top: 125px;}
.md .mt130{margin-top: 130px;}
.md .mt135{margin-top: 135px;}
.md .mt140{margin-top: 140px;}
.md .mt145{margin-top: 145px;}
.md .mt150{margin-top: 150px;}
.md .mt155{margin-top: 155px;}
.md .mt160{margin-top: 160px;}
.md .mt165{margin-top: 165px;}
.md .mt170{margin-top: 170px;}
.md .mt175{margin-top: 175px;}
.md .mt180{margin-top: 180px;}
.md .mt185{margin-top: 185px;}
.md .mt190{margin-top: 190px;}
.md .mt195{margin-top: 195px;}
.md .mt200{margin-top: 200px;}
.md .mt205{margin-top: 205px;}

.md .pd--5{padding: 5px;}
.md .pd--10{padding: 10px;}
.md .pd--15{padding: 15px;}
.md .pd--20{padding: 20px;}
.md .pd--25{padding: 25px;}
.md .pd--30{padding: 30px;}
.md .pd--35{padding: 35px;}
.md .pd--40{padding: 40px;}
.md .pd--45{padding: 45px;}
.md .pd--50{padding: 50px;}
.md .pd--55{padding: 55px;}
.md .pd--60{padding: 60px;}

/* Útilidades */

.md .pointer--none{pointer-events: none;}
.md .cursor--default{cursor: default;}
.md .cursor--pointer{cursor: pointer;}
.md .width--total{width: 100%;}
.md .total--fixed{width: 100%; height: 100%; position: fixed; overflow: auto;}
.md .shadow--pequena{box-shadow: 0 1px 2px rgba(0,0,0,.3)}
.md .shadow--media{box-shadow: 0 5px 5px rgba(0,0,0,.3)}
.md .shadow--grande{box-shadow: 0 10px 10px rgba(0,0,0,.3)}

/* Alinhamento */

.md .dt{display: table;}
.md .dt .dt--top{display: table-cell; vertical-align: top;}
.md .dt .dt--center{display: table-cell; vertical-align: middle;}
.md .dt .dt--bottom{display: table-cell; vertical-align: bottom;}

.align--center {text-align: center;}
.align--left {text-align: left;}
.align--right {text-align: right;}
.align--justify {text-align: justify;}
.align--clean {text-align: initial;}

/* Positions */

.initial{position: initial;}
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
.static{position: static;}
.static{position: static;}

.top{top: 0}
.right{right: 0}
.bottom{bottom: 0}
.left{left: 0}

/* Diplays */

.inherit {display: inherit;}
.initial {display: initial;}
.none {display: none;}
.inline {display: inline;}
.inline--block {display: inline-block;}
.block {display: block;}
.inline--table {display: inline-table;}
.table {display: table;}
.table--cell {display: table-cell;}
.table--caption {display: table-caption;}
.table--column-group {display: table-column-group;}
.table--header-group {display: table-header-group;}
.table--footer-group {display: table-footer-group;}
.table--row-group {display: table-row-group;}
.table--column {display: table-column;}
.table--row {display: table-row;}
.contents {display: contents;}
.flex {display: flex;}
.inline--flex {display: inline-flex;}
.list--item {display: list-item;}
.run--in {display: run-in;}
.grid {display: grid;}

/* Botao */

.md .botao{color: #fff; background: #51b2ee; padding: 0 30px; display: inline-block; font: 500 15px 'Roboto', sans-serif; border-radius: 3px; transition: all .2s ease-in-out; text-decoration: none;}
.md .botao:hover{color: #fff; background: #39678f;}
.md .botao.pequeno{line-height: 30px; height: 30px;}
.md .botao.medio{line-height: 45px; height: 45px;}
.md .botao.grande{line-height: 60px; height: 60px;}

/* Títulos */

.md *, .md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md p, .md span{margin: 0; padding: 0; font-family: 'Roboto', sans-serif;}

/* Forms */

.md form{width: 100%;}
.md form label{font: 500 22px 'Roboto', sans-serif;}
.md input:not([type=radio]):not([type=checkbox]){width: 100%; padding: 0; border-radius: 5px; outline: 0; border: 0; font: normal 15px 'Roboto', sans-serif; color: #666666; transition: all .2s ease-in-out;}
.md select{width: 100%; border-radius: 5px; outline: 0; border: 0; font: normal 15px 'Roboto', sans-serif; color: #666666; transition: all .2s ease-in-out;}
.md textarea{width: 100%; padding: 15px 0; border-radius: 5px; outline: 0; border: 0; font: normal 15px 'Roboto', sans-serif; color: #666666; transition: all .2s ease-in-out;}
.md input:not([type=radio]):not([type=checkbox])::-webkit-input-placeholder, .md textarea::-webkit-input-placeholder{font: normal 15px 'Roboto', sans-serif; color: #999999;}

.md input:not([type=radio]):not([type=checkbox]).border--top, .md select.border--top, .md textarea.border--top{border-top: 1px solid #DDDDDD;}
.md input:not([type=radio]):not([type=checkbox]).border--bottom, .md select.border--bottom, .md textarea.border--bottom{border-bottom: 1px solid #DDDDDD;}
.md input:not([type=radio]):not([type=checkbox]).border--left, .md select.border--left, .md textarea.border--left{border-left: 1px solid #DDDDDD;}
.md input:not([type=radio]):not([type=checkbox]).border--right, .md select.border--right, .md textarea.border--right{border-right: 1px solid #DDDDDD;}

.md input:not([type=radio]):not([type=checkbox]).no--radius, .md select.no--radius, .md textarea.no--radius{border-radius: 0;}

.md input:not([type=radio]):not([type=checkbox]):focus, .md select:focus, .md textarea:focus{border-color: #51b2ee;}

.md input:not([type=radio]):not([type=checkbox]).pequeno{height: 30px;}
.md input:not([type=radio]):not([type=checkbox]).medio{height: 45px;}
.md input:not([type=radio]):not([type=checkbox]).grande{height: 60px;}
.md select.pequeno{height: 30px;}
.md select.medio{height: 45px;}
.md select.grande{height: 60px;}
.md textarea.pequeno{height: 130px;}
.md textarea.medio{height: 170px;}
.md textarea.grande{height: 210px;}

.md .input--radio {position: relative;}
.md .input--radio input{display: none;}
.md .input--radio label{display: block; padding-left: 25px; transition: all .2s ease-in-out; color: #888888; font: normal 15px 'Roboto', sans-serif;}
.md .input--radio label:before{display: block; height: 16px; width: 16px; border: 2px solid #666666; content: ""; border-radius: 100%; position: absolute; top: 0; left: 0; transition: all .2s ease-in-out;}
.md .input--radio label:after{display: block; height: 12px; width: 12px; background: rgba(0,0,0,0); content: ""; border-radius: 100%; position: absolute; top: 4px; left: 4px; transition: all .2s ease-in-out;}
.md .input--radio input:checked + label:after{background: #666666;}

.md .input--checkbox {position: relative;}
.md .input--checkbox input{display: none;}
.md .input--checkbox label{display: block; padding-left: 25px; transition: all .2s ease-in-out; color: #888888; font: normal 15px 'Roboto', sans-serif;}
.md .input--checkbox label:before{display: block; height: 16px; width: 16px; border: 2px solid #CCCCCC; content: ""; border-radius: 3px; position: absolute; top: -1px; left: 0; transition: all .2s ease-in-out;}
.md .input--checkbox label:after{display: block; height: 12px; width: 20px; background: transparent; opacity: 0; content: "x"; border-radius: 0; position: absolute; top: -1px; left: 0; text-align: center; transition: all .2s ease-in-out; color: #222; font: bold 16px 'Roboto', sans-serif;}
.md .input--checkbox input:checked + label:after{opacity: 1;}
.md .input--checkbox input:checked + label:before{border-color: #222;}

/* Layout */

.md h1{color: #222222; font: 500 32px 'Roboto', sans-serif;}
.md h2{color: #222222; font: 500 15px 'Roboto', sans-serif;}

.md .facebook{background: #3B5998;}
.md .facebook:hover{background: #233157;}
.md .google-plus{background: #DF4B38;}
.md .google-plus:hover{background: #953225;}

.md form label {color: #222222;}
.md form .enviar{background: #EC407A;}
.md form .enviar:hover{background: #a82f54;}

.md p{font-size: 15px;}
.md .link{color: #EC407A; font: 500 15px 'Roboto', sans-serif; display: block;}
.md .link-topo{color: #EC407A; font: 500 15px 'Roboto', sans-serif; display: block; padding: 20px;}

.md .no-padding{padding: 0 !important;}

.menu{background: #2C2C2C; height: 100%; width: 55px; position: fixed; top: 0; left: 0; z-index: 9;}
.menu .menu-item{padding: 0 10px; width: 100%; display: table; height: 55px; text-align: center; cursor: pointer;}
.menu .menu-item:hover, .menu .menu-item.ativo{background: #222222; outline: 0; border: 0;}
.menu .menu-item .perfil{background: url("./images/perfil.png") no-repeat center center; background-size: 35px 35px; width: 100%; height: 65px; position: relative;}
.menu .menu-item .perfil span{width: 10px; height: 10px; background: #66BB6A; border-radius: 10px; position: absolute; bottom: 15px; right: 5px;}

.menu-selecionado{width: 300px; left: 55px; top: 0; height: 100%; background: #222222; position: fixed; padding: 0; overflow: auto; z-index: 9; transition: all .3s ease-in-out;}

.busca{width: 100%; border-bottom: 1px solid #2C2C2C; padding: 0 15px;}
.busca input{width: 100%; height: 65px; background: url("./images/busca.png") no-repeat center left; color: #222222; outline: none; border: 0; padding-left: 25px !important; font: normal 13px 'Roboto', sans-serif;}
.busca input::-webkit-input-placeholder{color: #999999;}

.dividir-menus{margin-top: 32px; display: block;}
.novo-circcle{color: #EC407A; font: 500 15px 'Roboto', sans-serif; padding: 0 15px;}

.circcles-relacionados{padding: 0 15px;}

.circcles-item{position: relative; display: block;}
.circcles-item .circcle-title{color: #cccccc; font: 500 15px 'Roboto', sans-serif;}
.circcles-item .circcle-desc{color: #999999; font: normal 15px 'Roboto', sans-serif;}
.circcles-item .circcle-notif{color: #cccccc; font: normal 13px 'Roboto', sans-serif; position: absolute; right: 0; top: 0;}

.circcle-conversa{padding-left: 355px; width: 100%; height: 100%; position: fixed; top: 0; left: 0; transition: all .3s ease-in-out; overflow-y: auto; overflow-x: hidden;}

.circcle-participantes{padding: 20px; width: 300px; border-right: 2px solid #eee; overflow: auto; position: relative; height: 100%; z-index: 11;}
.participantes-dentro{position: relative;}
.participantes-dentro .hover--pessoas-aparece{width: 220px; white-space: nowrap; position: absolute; box-shadow: 0 1px 5px rgba(0,0,0,.3); top: 50%; left: 10%; background: #fff; opacity: 0; transition: all .2s ease-in-out; z-index: 15; pointer-events: none;}
.participantes-dentro .hover--pessoas-aparece .nome{font: 500 15px 'Roboto', sans-serif; color: #222;}
.participantes-dentro .hover--pessoas-aparece .cargo{font: normal 13px 'Roboto', sans-serif; color: #888888;}
.participantes-dentro .hover--pessoas-aparece .separador{height: 1px; width: 100%; background: #EEEEEE;}
.participantes-dentro .hover--pessoas-aparece .link--adc-pessoas{color: #222222; font: normal 15px 'Roboto', sans-serif;}
.participantes-dentro:hover .hover--pessoas-aparece{opacity: 1; pointer-events: auto;}
.participantes-desc{position: absolute; right: 0; top: 2px; width: 100%; padding-left: 65px;}
.participantes-desc .participantes-nome{color: #222222; font: 500 15px 'Roboto', sans-serif;}
.participantes-desc .participantes-status{color: #444444; font: normal 15px 'Roboto', sans-serif;}
.participantes-fotos .perfil{background: url("./images/perfil.png") no-repeat center center; background-size: 45px 45px; width: 45px; height: 45px; position: relative;}
.participantes-fotos .perfil span{width: 10px; height: 10px; background: #66BB6A; border-radius: 10px; position: absolute; bottom: 0; right: 0;}

.circcle-area{position: fixed; top: 0; right: 0; width: 100%; padding-left: 655px; transition: all .3s ease-in-out;}
.circcle-area .area-topo{line-height: 65px !important; border-bottom: 2px solid #eee;}
.circcle-area .area-topo .menu-area{color: #999999; line-height: 65px !important; font-size: 18px; vertical-align: middle;}
.circcle-area .area-topo .image-circcle{background: url("./images/perfil.png") no-repeat center center; background-size: 45px 45px; width: 45px; height: 65px; display: inline-block; vertical-align: middle; margin-left: 20px;}

.nome-circcle{color: #222222; font: 500 18px 'Roboto', sans-serif;}
.desc-circcle{color: #999999; font: normal 13px 'Roboto', sans-serif;}

.comandos-circcle{padding: 0 15px; margin: 0; text-align: right;}
.comandos-circcle li{display: inline-block; padding: 0 17px;}
.comandos-circcle li:first-child{padding-left: 0;}
.comandos-circcle li:last-child{padding-right: 0;}
.comandos-circcle li a{color: #EC407A; font: 500 15px 'Roboto', sans-serif;}
.comandos-circcle .circcle-notificacoes{color: #FFC107;}
.comandos-circcle .circcle-notificacoes span{font: normal 13px 'Roboto', sans-serif; vertical-align: middle;}
.comandos-circcle .circcle-notificacoes i{font-size: 22px; vertical-align: middle;}

.area-conversa .item-conversa{padding: 0 34px;}
.area-conversa .item-conversa .item-conversa-user-nome{color: #222222; font: 500 15px 'Roboto', sans-serif; position: relative; display: inline-block;}
.area-conversa .item-conversa .item-conversa-user-nome.voce{color: #EC407A;}
.area-conversa .item-conversa .item-conversa-user-nome span{color: #999999; font: normal 11px 'Roboto', sans-serif; position: absolute; right: -47px; top: 5px;}
.area-conversa .item-conversa .item-conversa-user-mensagem{color: #444444; font: normal 15px 'Roboto', sans-serif;}

.area-conversa .separador{position: relative; text-align: center; padding: 0 20px}
.area-conversa .separador:before{width: 96%; position: absolute; height: 1px; background: #EEEEEE; top: 9px; content: ""; z-index: 0; left: 2%; right: 2%;}
.area-conversa .separador span{color: #999999; font: normal 15px 'Roboto', sans-serif; background: #fff; display: inline-block; z-index: 9; position: relative; padding: 0 20px;}

.area-digitacao{position: fixed; bottom: 0; right: 0; width: 100%; padding-left: 655px; transition: all .3s ease-in-out;}
.area-digitacao .arquivo-relativo{position: relative; border-top: 2px solid #eee;}
.area-digitacao .anexar-arquivo{position: absolute; top: 23px; right: 20px; font-size: 22px; color: #999999;}
.area-digitacao input{width: 100%; height: 65px; color: #222222 !important; outline: none; border: 0; padding: 0 30px !important; font: normal 13px 'Roboto', sans-serif;}
.area-digitacao input::-webkit-input-placeholder{color: #999999;}

.configuracoes{}
.configuracoes .configuracoes-item{padding: 30px 20px; position: relative; border-bottom: 1px solid #2C2C2C;}
.configuracoes .configuracoes-item .edit{background: url("./images/edit.png") no-repeat center center; width: 16px; height: 16px; position: absolute; top: 15px; right: 15px; opacity: 0; transition: all .2s ease-in-out;}
.configuracoes .configuracoes-item:hover .edit{opacity: 1;}
.configuracoes .configuracoes-item:hover{background: rgba(0,0,0,.1)}
.configuracoes .configuracoes-item.primeiro{padding: 0 20px; height: 65px;}
.configuracoes .configuracoes-item .usuario-nome{color: #cccccc; font: 500 15px 'Roboto', sans-serif;}
.configuracoes .configuracoes-item .usuario-status{color: #999999; font: normal 15px 'Roboto', sans-serif;}
.configuracoes .configuracoes-item .config-title{color: #cccccc; font: 500 18px 'Roboto', sans-serif;}
.configuracoes .configuracoes-item .config-desc{color: #999999; font: 500 15px 'Roboto', sans-serif; padding-top: 15px; display: block;}

.foto-edit .edit{color: #fff; background: #D81B60; border: 2px solid #fff; width: 40px; height: 40px; border-radius: 100%; text-align: center; vertical-align: middle; line-height: 40px !important;}

.texto-encerrar{height: 200px; padding: 20px 10px 20px 20px; overflow: hidden; border: 1px solid #EEEEEE; border-radius: 3px;}
.texto-encerrar p{height: 150px; overflow: auto; }
.texto-encerrar strong{color: #222;}

.usuarios-editar{height: 130px;}
.usuarios-editar .title{color: #222222; font: 500 17px 'Roboto', sans-serif;}
.usuarios-editar .desc{color: #999999; font: normal 13px 'Roboto', sans-serif;}
.md .contador-escrita{color: #999999; font: normal 13px 'Roboto', sans-serif; padding: 0 0 10px 0;}

.md .botao-roza{background: #EC407A; margin: 15px;}
.md .botao-roza:hover{background: #ef6f9a; margin: 15px;}

.md .input--radio input:checked + label:after{background: #66BB6A;}
.md .input--radio input:checked + label{color: #66BB6A;}

.blocos-home{height: 150px; border-radius: 5px; color: #ffffff; transition: all .2s ease-in-out;}
.blocos-home .bloco-qtd{font: 500 50px 'Roboto', sans-serif;}
.blocos-home .bloco-title{font: 500 22px 'Roboto', sans-serif;}
.blocos-home .bloco-desc{font: normal 15px 'Roboto', sans-serif;}
.bloco-rosa{background: #EC407A;}
.bloco-rosa:hover{background: #9f2b50;}
.bloco-verde{background: #66BB6A;}
.bloco-verde:hover{background: #305a32;}
.bloco-azul{background: #00BCD4;}
.bloco-azul:hover{background: #00606c;}

.padding-container{padding: 0 80px;}
.item-home .title{color: #222222; font: 500 22px 'Roboto', sans-serif;}
.item-home .desc{color: #999999; font: normal 15px 'Roboto', sans-serif; padding-top: 15px;}

.md h1{color: #222222; font: 500 22px 'Roboto', sans-serif;}
.md p{color: #999999; font: normal 15px 'Roboto', sans-serif;}
.md .seja-premium{background: #66BB6A; vertical-align: middle;}
.md .seja-premium img{vertical-align: middle; margin-right: 5px; position: relative; top: -2px;}
.md .seja-premium:hover{background: #326532;}

.md .configuracoes--offline{color: #999999; font: normal 13px 'Roboto', sans-serif;}
.md .configuracoes--offline select{height: 30px !important; line-height: 30px !important; color: #222222;}

.status{position: relative; padding-left: 25px;}
.status::after{content: ""; position: absolute; top: 4px; left: 0; height: 18px; width: 18px; border-radius: 15px;}

.online--status::after{background: #66BB6A;}
.ausente--status::after{background: #FFB300;}
.offline--status::after{background: #EF5350;}
.ferias--status::after{background: #00BCD4;}

.md .hover--pessoas{width: 45px; margin-right: 15px; display: inline-block; position: relative;}
.md .hover--pessoas .hover--pessoas-aparece{width: 220px; white-space: nowrap; position: absolute; box-shadow: 0 1px 5px rgba(0,0,0,.3); top: 50%; left: 50%; background: #fff; opacity: 0; transition: all .2s ease-in-out; z-index: 9; pointer-events: none;}
.md .hover--pessoas .hover--pessoas-aparece .nome{font: 500 15px 'Roboto', sans-serif; color: #222;}
.md .hover--pessoas .hover--pessoas-aparece .cargo{font: normal 13px 'Roboto', sans-serif; color: #888888;}
.md .hover--pessoas .hover--pessoas-aparece .separador{height: 1px; width: 100%; background: #EEEEEE;}
.md .hover--pessoas .hover--pessoas-aparece .link--adc-pessoas{color: #222222; font: normal 15px 'Roboto', sans-serif;}
.md .hover--pessoas:hover .hover--pessoas-aparece{opacity: 1; pointer-events: auto;}
